.coupon-detail-title {
  color: #1f7dd4;
  font-size: 17px;
  margin: 5px;
  overflow: hidden;
  line-height: 19px;
  max-height: 38px;
  font-weight: 500;
}

.coupon-detail-title>a:hover,
.coupon-detail-title>a:active,
.coupon-detail-title>a:visited,
.coupon-detail-title>a {
  color: #1f7dd4;
  font-size: 17px;
  font-weight: 500;
  font-family: Roboto, sans-serif;
  overflow: hidden;
  line-height: 19px;
  max-height: 38px;
}

.coupon-price-shipping {
  text-transform: lowercase;
  font-weight: 700;
  color: #e6251f;
  white-space: nowrap;
}

p.coupon-prices-final-price {
  margin: 0px;
}

@media (max-width: 992px) {
  .coupon-prices-final-price {
    font-size: 20px;
    overflow: hidden;
  }
  .coupon-price-shipping {
      font-size: 12px;
      overflow: hidden;
  }
}

@media (min-width: 992px) {
  .coupon-prices-final-price {
    font-size: 27px;
  }
  .coupon-price-shipping {
    font-size: 14px;
  }
}

.coupon-prices-final-price {
  min-height: 27px;
  color: #e6251f;
  font-weight: 700;
  text-align: center;
  line-height: 1.1;
}

@media (max-width: 992px) {
  .coupon-div > a > img {
    max-height: 100px;
    height: 100px;
    max-width: 100px;
    width: 100px;
  }
}


@media (min-width: 992px) {
  .coupon-div > a > img {
    max-height: 120px;
    height: 120px;
    max-width: 120px;
    width: 120px;
  }
}

.coupon-image > a > img {
  margin: 0;
  padding: 0;
  vertical-align: middle;
}

.coupon-image {
  padding: 0;
  margin: 0;
  width: 100%;
}

.coupon-prices {
  display: inline-block;
  vertical-align: middle;
  margin: auto;
  max-width: 100%;
  padding: 3px;
}

.coupon-div {
  display: flex;
}

.card-zindex {
  background-color: #FFF;
  margin-bottom: 15px;
  border: 1px solid #e0e0e0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .08);
  transition: box-shadow .3s ease;
  padding: 10px;
  font-family: Roboto, sans-serif;
  height: 199.99px;
  max-height: 199.99px;
}

.card-zindex:hover {
  transition: box-shadow .3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .24);
}
