.deal-header > h3 {
  font-size: 24px;
  font-weight: 500;
  font-family: Roboto, sans-serif;
  margin: 0px;
}

.deal-header {
  color: #525c65;
  margin-bottom: 20px;
  padding: 0;
  border-bottom: 3px solid #525c65;
}