.merchant-info-image {
  text-align: center;
}

.merchant-info-image img {
  border: 1px solid #e0e0e0;
  max-width: 100%;
  padding: 30px 0;
}

.amazon-h1 > h1 {
  font-weight: 600;
  font-family: Roboto, Source-Sans-Pro, Roboto, sans-serif;
  color: #333;
  letter-spacing: -0.75px;
  margin-top: 0px;
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .amazon-h1 > h1 {
    font-size: 28px;
  }
}

@media (max-width: 768px) {
  .amazon-h1 {
    padding-top: 20px;
  }
  .amazon-h1 > h1 {
    font-size: 20px;
    text-align: center;
    padding-left: 8px;
    padding-right: 8px;
  }
}

@media (min-width: 768px) {
  .amazon-text {
    max-width: 80%;
  }
}

@media (max-width: 768px) {
  .amazon-text {
    text-align: center;
    padding-left: 8px;
    padding-right: 8px;
  }
}

@media (max-width: 768px) {
  .amazon-button {
    text-align: center;
    margin-bottom: 10px;
  }
}

@media (min-width: 768px) {
  .amazon-button {
    text-align: left;
  }
}


/*fixed*/

.merchant-info img {
  max-width: 100%;
  padding: 30px 2px;
}

.merchant-info {
  padding-bottom: 15px;
  margin: 0px;
  padding: 10px;
}

@media (max-width: 768px) {
  .merchant-info {
    padding: 10px;
  }
}

@media (min-width: 768px) {
  .merchant-info {
    min-height: 20vh;
    transition: all 0.5s;
    padding: 10px 10px 10px 50px;
  }
}

@media (max-width: 768px) {
  .amazon-second {
    text-align: center;
  }
}

.amazon-coupon-btn {
  margin: 1.5% 10px 1% 0px;
}

.amazon-desc {
  max-height: 60px;
}

.amazon {
  background-color: red;
  border: 2px solid black;
}
