.redux-dropzone {
  padding: 25px 20px 15px 0px !important
}

.redux-dropzone > p {
  margin-bottom: 0px;
}

.redux-dropzone {
  width: 100%;
  height: 20%;
  border-bottom: 3px solid #1f7dd4;
  color: #1f7dd4;
  padding: 5px 20px 5px 0px;
  border-radius: 0px;
  line-height: 28px;
  font-weight: 700;
}