a.image-link {
  background-color: #FFF;
  border: 1px solid #e0e0e0;
  display: inline-block;
  margin: 0 15px 10px 0;
  max-width: 170px;
  padding: 2px;
}

.featured-store-wrapper {
  margin-bottom: 30px;
}

.featured-store-link > a {
  display: block;
  color: #1f7dd4;
  font-size: 20px;
  padding: 5px 0;
  outline: 0;
  cursor: pointer;
  background-color: transparent;
  font-family: Roboto, serif;
}

.category-store-header {
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  max-width: 100%;
  padding: 0 !important;
}

.category-store-header > li {
  list-style-type: none;
  overflow: hidden;
  background-color: transparent;
  border-bottom: solid 3px #676d79;
  color: #525c65;
  padding: 5px 16px 5px 0px;
  margin: 0;
}

.category-store-header > li > h2 {
  font-size: 20px;
  font-family: Roboto;
  margin-bottom: 5px;
  margin-top: 10px;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .featured-store-images-wrapper {
    text-align: center;
  }
}
