p {
  margin-bottom: 1em;
}

.product-detail-flag-info {
  background-color: #e6251f;
  color: #FFF;
  padding-left: 10px !important;
  padding-right: 2px !important;
  height: 27px;
  max-width: 130px;
}

.product-detail-row>.row {
  margin-left: 0px;
  margin-right: 0px;
  padding: 0px 7px;
}

@media (max-width: 480px) {
  .product-detail-row {
    padding: 0px !important;
  }
}

@media (max-width: 480px) {
  .product-detail-btn {
    float: right !important;
  }
}




/* Product features */

@media (max-width: 700px) {
  .product-detail-features {
    width: 100% !important;
    max-width: 100% !important;
  }
}

@media (min-width: 768px) {
  .product-detail-features ul li {
    word-spacing: 1px;
    font-size: 14px;
    color: #333;
    line-height: 1.42857;
  }
}

.product-detail-features ul li {
  list-style-type: disc;
}

.product-detail-features a,
.product-detail-features ul li a {
  color: #1f7dd4;
}

.product-detail-features {
  font-family: Roboto, serif;
  color: #333;
  font-weight: 500;
}

@media (max-width: 480px) {
  .product-detail-features {
    height: 40px;
    line-height: 20px;
    overflow: hidden;
  }
}

@media (min-width: 480px) and (max-width: 768px) {
  .product-detail-features {
    height: 60px;
    line-height: 20px;
    overflow: hidden;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .product-detail-features {
    height: 100px;
    line-height: 20px;
    overflow: hidden;
  }
}

@media (min-width: 992px) and (max-width: 1920px) {
  .product-detail-features {
    padding-right: 15px;
    padding-left: 15px;
    line-height: 19px;
  }
  .product-detail-more-wrapper {
    padding-left: 15px;
  }
  .product-detail-price {
    padding-left: 15px;
  }
  .product-detail-bottom-wrapper {
    padding-left: 15px;
  }
}



/*Image and Image wrapper*/

.product-detail-image>a>img {
  margin: auto;
  text-align: center;
}

@media (min-width: 992px) and (max-width: 1280px) {
  .product-detail-image>a>img {
    text-align: center;
    max-width: 169px;
    max-height: 169px;
  }
  .product-detail-image {
    max-width: 169px;
    max-height: 169px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .product-detail-image>a>img {
    text-align: left;
    max-width: 130px;
    max-height: 130px;
  }
  .product-detail-image {
    max-width: 200px;
    max-height: 200px;
    padding-right: 7px;
    padding-left: 7px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 480px) and (max-width: 780px) {
  .product-detail-image {
    text-align: center;
    padding-bottom: 8px;
  }
  .product-detail-image>a>img {
    max-width: 130px;
    max-height: 130px;
  }
  .product-detail-row {
    padding: 8px !important;
  }
}

@media (max-width: 480px) {
  .product-detail-image>a>img {
    max-width: 150px;
    max-height: 150px;
  }
  .product-detail-image {
    text-align: center;
  }
  .product-detail-image>.col-xs-4 {
    width: 100% !important;
    min-width: 100% !important;
  }
}

.row .product-detail-body-row {
  margin-right: 0px;
  margin-left: 0px;
  margin-top: 8px;
}

.product-detail-row {
  padding: 0px;
}

.product-detail-panel-header {
  padding: 0px;
}

h2.product-detail-panel-header {
  margin-top: 0px;
  cursor: pointer;
  margin-bottom: 0px;
  font-family: Roboto, serif;
}

h2.product-detail-panel-header a {
  font-family: Roboto, serif;
  line-height: 18px;
  text-align: left;
  color: #1f7dd4;
  font-weight: 500;
}

@media (max-width: 480px) {
  h2.product-detail-panel-header {
    font-size: 18px;
  }
}

@media (min-width: 480px) and (max-width: 992px) {
  h2.product-detail-panel-header {
    font-size: 20px;
    margin-top: 7px;
    margin-bottom: 10px;
  }
}

@media (min-width: 992px) and (max-width: 1920px) {
  h2.product-detail-panel-header {
    font-size: 24px;
    margin-top: 7px;
    margin-bottom: 10px;
  }
}

@media (min-width: 992px) {
  .product-detail-panel-header>a {
    font-size: 24px !important;
  }
}

.product-detail-panel-header>a:hover {
  text-decoration: underline;
}



/* Panel bottom merchant and category styles*/

ul.product-detail-bottom-wrapper {
  list-style: none;
  padding: 15px 0 0;
  margin: 0;
  font-size: 13px;
  color: #b0b0b0;
  line-height: 1.3;
  clear: both;
  margin-bottom: 0px;
  font-family: Roboto, sans-serif;
}

.product-detail-no-break>a,
.product-detail-no-break>a:hover,
.product-detail-no-break>a:focus,
.product-detail-no-break>a:active {
  color: #b0b0b0;
  text-decoration: underline;
}



/* Prices and see deal or reavel code */

.price-wrapper {
  min-width: 100%;
}

.product-detail-price {
  display: inline-block;
  margin-top: 15px;
  vertical-align: bottom;
  float: left;
  width: calc(100% - 200px);
}

@media (max-width: 768px) {
  .product-detail-price {
    width: calc(100% - 150px);
    margin-top: 5px;
  }
  .product-detail-price>p {
    margin-bottom: 0px;
  }
}

@media (max-width: 480px) {
  .product-detail-second,
  .product-detail-first {
    display: block;
  }
}

.product-detail-first {
  font-size: 27px;
  line-height: 1.1;
  min-height: 27px;
  color: #e6251f;
  font-weight: 700;
  margin-right: auto;
  margin-left: auto;
}

.product-detail-second {
  text-transform: lowercase;
  font-size: 14px;
  font-weight: 700;
  color: #e6251f;
  white-space: nowrap;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .product-detail-more-wrapper {
    padding-top: 5px;
    min-width: 100%;
    margin: 5px 0px 15px 0px;
  }
}

.product-detail-more-wrapper {
  margin-bottom: 15px;
}

.product-detail-more-wrapper>a:hover,
.product-detail-more-wrapper>a:focus {
  opacity: .7;
}

.product-detail-more-wrapper>a {
  color: #333;
  text-decoration: underline;
  margin: 5px 0;
}
