@media (max-width: 480px) {
  .category-info > h1 {
    font-size: 16px;
    padding: 5px;
    text-align: center;
  }
}

@media (min-width: 480px) {
  .category-info > h1 {
    font-size: 28px;
    padding: 20px;
  }
}

.category-info > h1 {
  font-family: 'Source Sans Pro', "Roboto Condensed", sans-serif;
  color: #595a5d;
  letter-spacing: -0.75px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 700;
}