@media (max-width: 480px) {
  .categories-info > h1 {
    font-size: 16px;
    padding: 16px 0px;
    text-align: center;
  }
}

@media (min-width: 480px) {
  .categories-info > h1 {
    font-size: 28px;
    padding: 20px;
  }
}

.categories-info > h1 {
  font-family: 'Source Sans Pro', "Roboto Condensed", sans-serif;
  color: #595a5d;
  letter-spacing: -0.75px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 700;
}

.categories-store-link > a {
  display: block;
  color: #1f7dd4;
  font-size: 20px;
  padding: 5px 0;
  outline: 0;
  cursor: pointer;
  background-color: transparent;
  font-family: 'Roboto Condensed', serif;
}

.categories-store-link {
  margin-bottom: 30px;
}

.categories-store-header {
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  max-width: 100%;
  padding: 0 !important;
}

.categories-store-header > li {
  list-style-type: none;
  overflow: hidden;
  background-color: transparent;
  border-bottom: solid 3px #676d79;
  color: #525c65;
  padding: 5px 16px 5px 0px;
  margin: 0;
}

.categories-store-header > li > h2 {
  font-size: 20px;
  font-family: 'Roboto Condensed';
  margin-bottom: 5px;
  margin-top: 10px;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .categories-product-grid > .row {
    margin-left: 1px !important;
    margin-right: 1px !important;
  }
}

@media (min-width: 768px) {
  .categories-product-grid > .row {
    margin-left: 30px !important;
    margin-right: 30px !important;
  }
}

.categories-product-grid {
  background-color: transparent;
}

.categories-info-grid {
  background-color: #fff;
}

.categories-product-grid {
  background-color: #f7f7f7 !important;
}

.categories-info-grid {
  background-color: #fff;
}

div > .categories-info-grid > .row {
  border-bottom: #e7e7e7 !important;
}

.categories-grid {
  margin: 0;
  padding: 0 15px;
  background-color: #f7f7f7 !important;
}

@media (min-width: 992px) {
  #categories-first-wrapper {
    padding-right: 30px;
  }
}