@media (min-width: 768px) {
  .small-screen-wrapper {
    display: none !important;
  }
}

@media (min-width: 992px) {
  .dropdown-toggle::after {
    display: none !important;
  }
  .dropdown:hover>.dropdown-menu {
    display: block;
  }
}

.navbar-bg-color {
  background-color: #f5f6f7;
  border: 1px solid #f5f6f7;
}

.navbar-light .navbar-nav .nav-link {
  color: #3d4449;
  padding: 8px !important;
}

@media(max-width: 992px) {
  .nav-link:hover {
    color: #00FF00 !important;
  }
  .show > a {
    color: #00FF00 !important;
  }
  .nav-item.dropdown {
    background-color: #ffffff;
  }
  .dropdown-menu {
    background-color: #f5f6f7 !important;
    border-bottom: 1px solid rgba(0, 0, 0, .15);
    border-top: 1px solid rgba(0, 0, 0, .15);
    border: none !important;
    border-radius: 0px !important;
  }
  .navbar {
    padding: 0px !important;
  }
  .navbar-nav > li {
    border: 1px solid #e7e7e7;
  }
  .navbar-nav > li:active {
    background-color: transparent !important;
  }
  .dropdown-item  {
    color:  #9fa3a6 !important;
  }
  .dropdown-item:hover  {
    color:  #3d4449 !important;
  }
}
