html,
body {
  height: 100%;
  width: 100%;
  margin: 0 !important;
  padding: 0 !important;
  font-size: 62.5%;
  letter-spacing: 0.5px;
  line-height: 20px;
}

html {
  font-family: 'Roboto Condensed', sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/*
font-family: 'Source Sans Pro', sans-serif;
font-family: 'Bowlby One', cursive;
font-family: 'Mogra', cursive;
font-family: 'Roboto Condensed', sans-serif;*/


