html,
body {
  height: 100%;
  width: 100%;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.42857;
  color: #333;
  max-width: 1920px;
}

@font-face {
  font-family: Source-Sans-Pro;
  src: url('./fonts/SourceSansPro-Regular.ttf');
}

@font-face {
  font-family: Mogra;
  src: url('./fonts/Mogra-Regular.ttf');
}

@font-face {
  font-family: Roboto;
  src: url('./fonts/Roboto-Regular.ttf');
}
