.carousel-div {
  margin-top: 10px;
  margin-bottom: 20px;
}

.carousel {
  max-height: 250px !important;
  height: 250px !important;
  width: 100%;
  max-width: 100%;
}

.carousel-image {
  margin: 0;
  padding: 0;
  background-color: #fff !important;
}

.carousel-image img {
  max-height: 250px !important;
  height: 250px !important;
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

@media (max-width: 992px) {
  .carousel-div {
    display: none !important;
  }
}