.merchant-coupon {
  margin-top: 10px;
  margin-bottom: 10px;
}

  .merchant-header h2 {
    font-family: Roboto;
  }

@media (max-width: 480px) {
  .merchant-header h2 {
    font-size: 18px !important;
  }
}

@media (min-width: 480px) {
  .merchant-header h2 {
    font-size: 20px !important;
  }
}
