.navbar-bg-color {
  background-color: #eceff1
}


/*This is menu color on hover and active*/

.nav-link:active,
.nav-link:hover {
  color: #00FF00 !important;
}

.show>a {
  color: #00FF00 !important;
}
