.bottom-related-product {
  margin-top: 100px;
  min-width: 100%;
}

@media (min-width: 768px) {
  .show-info-wrapper {
    padding-right: 15px;
    padding-left: 30px;
  }
}

@media (max-width: 768px) {
  .show-info-wrapper {
    padding-right: 10px;
    padding-left: 10px;
  }
}