.ais-SearchBox__reset svg,
.ais-SearchBox__button svg {
  fill: red
}

.home-icon > svg:not(:root) {
  overflow: visible;
  vertical-align: top;
}

.home-icon > svg {
  padding-top: 2px !important;
  padding-bottom: 2px !important;
}

@media (max-width: 768px) {
  .home-icon {
    text-align: center;
  }
  .home-icon > svg {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .home-icon > svg {
    margin-right: 50px !important;
  }
}

@media (max-width: 768px) {
  .home-icon > svg {
    margin-right: 16px !important;
  }
}

.home-icon .first {
  color: #e6251f;
  font-family: Mogra, Roboto, sans-serif;
}

.home-icon .second {
  font-family: Mogra, Roboto, sans-serif;
}

@media (max-width: 768px) {
  .large-screen-wrapper {
    display: none;
    transition: all 0.5s;
    transition-delay: 0.5s;
    -webkit-transition: all 0.5s;
    -webkit-transition-delay: 0.5s;
  }
}

.top-nav > button > div > svg {
  fill: #525c65 !important;
}

@media (max-width: 768px) {
  div.top-nav {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}
