.coupon-header {
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  max-width: 100%;
  padding: 0 !important;
}

.coupon-header > li {
  list-style-type: none;
  overflow: hidden;
  background-color: transparent;
  border-bottom: solid 3px #676d79;
  color: #525c65;
  padding: 5px 16px 5px 5px;
  margin: 0;
  font-size: 20px;
  font-weight: 700;
  font-family: Roboto;
}