@media (max-width: 768px) {
  .dropper-h2 {
    font-size: 18px;
  }
  .dropper-column {
    display: none;
  }
}


@media (min-width: 992px) {
  .filters-wrapper {
    margin-bottom: 30px;
    margin-top: 40px
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .filters-wrapper {
    margin-bottom: 30px;
    margin-top: 20px
  }
}

@media (max-width: 768px) {
  .filters-wrapper {
    margin-bottom: 10px;
    margin-top: 10px
  }
}

.dropper-h2 {
  color: #525c65;
}

.dropperbtn {
  background-color: #ffffff;
  color: #525c65;
  padding: 5px 16px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 0px;
  width: 140px;
}

.dropperbtn::after {
  display: inline-block;
  color: rgb(29, 161, 242);
  width: 0;
  height: 0;
  margin-left: .3em;
  vertical-align: middle;
  content: "";
  border-top: .3em solid;
  border-right: .3em solid transparent;
  border-left: .3em solid transparent;
}

.dropperbtn:hover::after {
  color: #fff;
}

header {
  padding: 0;
  border-bottom: 3px solid #525c65;
}

.dropperdown {
  position: relative;
  display: inline-block;
  float: right
}

.dropperdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropperdown-content a {
  color: black;
  padding: 5px 16px;
  text-decoration: none;
  display: block;
}

.dropperdown-content a:hover {
  background-color: #f1f1f1
}

.dropperdown:hover .dropperdown-content {
  display: block;
}

.dropperdown:active .dropperbtn,
.dropperdown:focus .dropperbtn,
.dropperdown:hover .dropperbtn {
  background-color: rgb(29, 161, 242);
  color: #fff;
  border-color: rgb(29, 161, 242);
}
