.carousel-card {
  max-width: 200px;
  margin: 1px;
}

.carousel-media {
  max-width: 180px;
  max-height: 180px;
}

.carousel-title {
  padding: 10px 8px 0px 8px !important;
  width: 100%;
  text-transform: lowercase !important;
  font-weight: 700 !important;
}

.carousel-body {
  padding: 5px 8px !important;
  height: 40px;
  line-height: 20px;
  overflow: hidden;
}

.carousel-single {
  width: 100%;
  max-width: 100%;
  margin: 10px;
}

.carousel-body-price {
  padding: 2px 16px !important;
  color: #e6251f !important;
  font-size: 20px !important;
  font-weight: 700 !important;
  min-height: 34px !important;
}

.slick-dots li.slick-active button:before {
  color: #1da1f2;
}

.carousel-image {
  margin: 0;
  padding: 0;
  background-color: #fff !important;
}

.carousel-image > img {
  max-height: 250px !important;
  height: 250px !important;
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
}
