@media (min-width: 768px) {
  .yes-no-btn-wrapper {
    display: inline-block;
    margin: 0;
    max-width: 166px;
    text-align: center;
    vertical-align: middle;
    float: left;
    width: 50%;
  }
}
