.latest-stores li {
  list-style-type: none;
  padding: 3px;
  font-size: 20px;
  color: #1f7dd4;
}

.latest-stores li > a {
  color: #1f7dd4;
  font-family: Roboto, sans-serif;
}

.latest-stores {
  padding-left: 1px;
  -webkit-padding-start: 1px;
}

.merchant-page-header {
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  max-width: 100%;
  padding: 0 !important;
}

.merchant-page-header > li {
  list-style-type: none;
  overflow: hidden;
  background-color: transparent;
  border-bottom: solid 3px #676d79;
  color: #525c65;
  padding: 5px 16px 5px 0px;
  margin: 0;
}

.merchant-page-header > li > h2 {
  font-size: 20px;
  font-family: Roboto;
  margin-bottom: 5px;
  margin-top: 10px;
  text-transform: uppercase;
}

@media (min-width: 992px) {
  #merchant-first-wrapper {
    padding-right: 30px;
  }
}

@media (max-width: 768px) {
  #merchant-first-wrapper {
    padding: 0px;
  }
}

.merchant-page-info-grid {
  background-color: #fff;
  margin: 0;
}

.merchant-page-info-grid > .row {
  border-bottom: #e7e7e7 !important;
}

.merchant-page-product-grid {
  background-color: transparent;
}

.merchant-page-product-grid {
  background-color: #f7f7f7 !important;
}

/*.merchant-page-grid {
  margin: 0;
  padding: 0 5px 0 0;
  background-color: transparent;
}*/

@media (max-width: 768px) {
  .merchant-page-grid {
    margin-top: 46px;
  }
}

@media (max-width: 768px) {
  .merchant-page-product-grid > .row {
    margin: 0px;
  }
}

@media (min-width: 768px) {
  .merchant-page-product-grid > .row {
    margin-left: 30px !important;
    margin-right: 30px !important;
  }
}
