.latest-stores li {
  list-style-type: none;
  padding: 3px;
  font-size: 20px;
  color: #1f7dd4;
}

.latest-stores li > a{
  color: #1f7dd4;
  font-family: Helvetica, Arial, sans-serif;
}

.latest-stores {
  padding-left: 1px;
  -webkit-padding-start: 1px;
}